* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    
}

body {
    background:rgb(180, 44, 44);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.contact-container {
    background:rgb(121, 118, 118);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 500px;
}

.contact-container h2 {
    text-align: center;
    margin-bottom: 25px;
    color: #333;
}

.contact-container label {
    display: block;
    margin-bottom: 5px;
    color: #555;
}

.contact-container input,
.contact-container textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    resize: none;
    font-size: 16px;
}

.contact-container button {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background-color: #4CAF50;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

.contact-container button:hover {
    background-color: #45a049;
}