* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("image.jpeg");
    background-color:black;
    font-family: Arial;
}

.box {
    width: 300px;
    background-color: white;
    margin: 150px auto;
    padding: 20px;
    text-align: center;
}

input {
    width: 90%;
    padding: 8px;
    margin: 8px 0;
}

button {
    width: 95%;
    padding: 8px;
    background-color: blue;
    color: white;
    border: none;
}





