* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f6f8;
}

header {
    background-color: #1f3c88;
    color: white;
    text-align: center;
    padding: 20px;
}

.reference-container {
    width: 80%;
    margin: 30px auto;
    background: white;
    padding: 30px;
    border-radius: 10px;
}

.subject-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 25px;
}

.subject-list button {
    padding: 10px 60px;
    background-color: #1f3c88;
    color: white;
    border:red;
    border-radius: 6px;
    cursor: pointer;
}

.subject-list button:hover {
    background-color: #142b63;
}

.subject-content {
    display: none;
    margin-top: 20px;
}

.subject-content h3 {
    margin: 12px 0;
}

.subject-content a {
    display: inline-block;
    margin-bottom: 12px;
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
}

.subject-content iframe {
    width: 100%;
    height: 320px;
    border: none;
    border-radius: 8px;
}

.external-links {
    margin-top: 10px;
    padding-left: 20px;
}

.external-links li {
    margin-bottom: 8px;
}

.external-links a {
    color: #2c7be5;
    text-decoration: none;
}

.external-links a:hover {
    text-decoration: underline;
}

footer {
    background-color: #1f3c88;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: 30px;
}