/* Global reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Body */
body {
    background-color:rgb(0, 255, 153);
    color:rgb(25, 27, 27);
}

/* Header */
header {
    background-color: #212121;
    color: white;
    padding: 20px;
}

/* Title */
header h1 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #35b521;
}

/* Navigation */
nav {
    display: flex;
    gap: 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

nav a:hover {
    color: #2eab26;
}

/* Intro section */
div {
    padding: 30px;
    text-align: center;
}

/* Proverb */
.proverb {
    font-size: 22px;
    font-weight: bold;
    color: #197a30;
    margin-bottom: 12px;
}

/* Description */
.wat {
    font-size: 16px;
    max-width: 800px;
    margin: auto;
    color: #5c5959;
}

/* Common section style */
section {
    background-color: #ffffff;
    max-width: 900px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 8px;
    border-left: 6px solid #128d2f;
}

/* Section headings */
section h2 {
    font-size: 22px;
    color: #353535;
    margin-bottom: 15px;
}

/* Promise section */
.promise {
    background-color: #212121;
    text-align: center;
    font-weight: bold;
    padding: 20px;
    color: #35b521;
}

/* Footer */
footer {
    background-color: #212121;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 14px;
}
