
  body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background-image:url("greenn.png");
 
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  padding: 20px;
}
.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 25px;
  background: linear-gradient(90deg, #ff9a9e, #fad0c4);
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.15);
  margin-bottom: 25px;
}

.logo {
  font-size: 22px;
  font-weight: bold;
  color: #4a154b;
}

.menu a {
  text-decoration: none;
  color: #4a154b;
  margin-left: 18px;
  font-size: 16px;
  padding: 6px 14px;
  border-radius: 18px;
  transition: 0.3s;
}

.menu a:hover {
  background: rgba(255, 255, 255, 0.6);
}


h1 {
  text-align: center;
  color: #333;
}

.box {
  background: rgb(251, 254, 255);
  margin: 15px auto;
  padding: 30px;
  width: 80%;
  border-radius: 8px;
  border: 2px solid #232425;  
}


h2 {
  margin: 0;
  cursor: pointer;
  color: #111213;
}


.box:hover {
  background-color: #2222ec;  
}

ul {
  display: none;
  margin-top: 10px;
}

li {
  margin: 5px 0;
}


