
  .data {
  font-family: Arial, sans-serif;
  min-height: 100vh;

  background-image: url("web.jpg"); /* SAME image for all pages */
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

  padding: 20px;
}
.python{
  font-family: Arial, sans-serif;
  min-height: 100vh;

  background-image: url("database.png"); /* SAME image for all pages */
  background-position: center;
  background: size 100%;;

  padding: 20px;
}


h1 {
  text-align: center;
  color: #333;
}

/* Subject box */
.box {
  background: white;
  margin: 15px auto;
  padding: 15px;
  width: 80%;
  border-radius: 8px;
  border: 2px solid #232425;  
}


h2 {
  margin: 0;
  cursor: pointer;
  color: #111213;
}


.box:hover {
  background-color: #f1f6ff;  
}

ul {
  display: none;
  margin-top: 10px;
}

li {
  margin: 5px 0;
}


